:root {
  --search_radius: 5rem;
  --search_trans_dur: 0.3s;
  --btn-color: #ff3434;
  --btn-width: 15rem;
  --btn-height: 1.5rem;
  --btn-animation-width: 3rem;
  --transparent-color: rgba(0, 0, 0, 0);
  --background-color: #1f1f1f;
  --primary-color: #ff3434;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  border: 0px;
  border-radius: 50px;
  font-size: 1.2rem;
  color: white;
  text-align: center;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  cursor: pointer;
}

button:hover{
  border: 1px solid white;
  background-color: #000000;
}

.section-divider {
  width: 100vw;
  overflow: hidden;
  flex: 1 1 auto; /* Allows divider to grow and shrink as needed */
  max-width: 100%;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: Arial, Helvetica, sans-serif;
}

/* #region Header */
header {
  display: flex;
  background-color: var(--background-color);
  height: max(10vh,50px);
  padding: 0 5vw;
  border-bottom: 2px solid var(--primary-color);
  z-index: 9999;
  position: sticky;
  top: 0;
}

.navbar {
  width: 50%;
  margin: auto;
}

header h1 {
  color: var(--primary-color);
  margin: auto;
  text-wrap: nowrap;
}

header nav {
  display: flex;
  align-items: center;
  font-size: medium;
  height: 100%;
  width: 50%;
}

header nav ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  width: 100%;
}

header nav ul li {
  width: fit-content;
  margin-right: 10px;
}

header nav ul li a {
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: none;
}

header nav ul li a:hover {
  color: var(--primary-color);
  transition: 0.5s;
}

.hamburger-btn {
  display: none;
}
/* #endregion */

/* #region Searchbar */
nav form {
  position: relative;
  width: var(--btn-width);
  height: var(--btn-height);
  background: var(--btn-color);
  border-radius: var(--search_radius);
  border: 2px solid var(--primary-color);
  margin-left: 1%;
}

nav input,
nav button {
  height: 100%;
  border: 0;
  font-size: medium;
}

nav input[type="search"] {
  outline: 0;
  width: 100%;
  padding: 0 0.8rem;
  border-radius: var(--search_radius);
  appearance: none;
  background-color: black;
  color: white;
  position: relative;
  transition: width var(--search_trans_dur),
    border-radius var(--search_trans_dur);
}

nav button {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: var(--btn-animation-width);
  height: 100%;
  font-weight: bold;
  background: var(--btn-color);
  border-radius: 0 var(--search_radius) var(--search_radius) 0;
  color: white;
  z-index: 2; /* Ensures button is above input */
  transition: opacity var(--search_trans_dur),
    visibility var(--search_trans_dur), background-color var(--search_trans_dur);
}

nav ::placeholder {
  color: rgb(136, 136, 136);
  opacity: 1; /* Firefox */
}

nav input:not(:placeholder-shown) {
  border-radius: var(--search_radius) 0 0 var(--search_radius);
  width: calc(100% - var(--btn-animation-width));
}

nav input:not(:placeholder-shown) + button {
  opacity: 1;
  visibility: visible; /* Show the button when input has text */
}

nav button:hover {
  background-color: var(--btn-hover-color); /* Change color on hover */
  border: 1px solid var(--btn-color)
}

nav button:active {
  opacity: 75%; /* Border color when clicked */
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5); /* Creates an inset shadow effect */
}

form button {
  cursor: pointer;
  padding-top: 1px;
}
/* #endregion */

@media (max-width: 299px) {
  :root {
    --btn-height: 3rem;
  }

  nav input,
  nav button {
    font-size: large;
  }

  header {
    display: block;
    height: auto;
    padding: 0;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  header h1 {
    font-size: x-large;
    width: fit-content;
    margin: 0;
  }

  header nav {
    display: none;
    width: 100%;
  }

  header nav ul {
    flex-direction: column;
    background: linear-gradient(
      to bottom,
      /* Direction of the gradient */ var(--background-color),
      /* Starting color */ rgba(54, 48, 48, 0.5) /* End color*/
    );
  }

  header nav ul li {
    padding: 1% 0;
    width: 100%;
    border-top: 2px solid var(--primary-color);
  }

  header nav form {
    display: none;
  }

  .hamburger-btn {
    display: block;
    background-color: var(--transparent-color);
    font-size: x-large;
    border: 0;
    cursor: pointer;
  }
}



@media (min-width: 300px) and (max-width: 768px) {
  :root {
    --btn-height: 3rem;
  }

  nav form {
    position: relative;
    width: var(--btn-width);
    height: var(--btn-height);
    background: var(--btn-color);
    border-radius: var(--search_radius);
    border: 2px solid var(--primary-color);
    margin: auto;
    margin-top: 5%; 
    z-index: 99;
  }

  nav input,
  nav button {
    font-size: large;
  }

  header {
    display: block;
    height: auto;
    padding: 0;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  header h1 {
    font-size: x-large;
    width: fit-content;
    margin: 0;
  }

  header nav {
    display: none;
    width: 100%;
  }

  header nav ul {
    flex-direction: column;
    background: linear-gradient(
      to bottom,
      /* Direction of the gradient */ var(--background-color),
      /* Starting color */ rgba(54, 48, 48, 0.5) /* End color*/
    );
  }

  header nav ul li {
    font-size:36pt;
    padding: 1% 0;
    width: 100%;
    margin-top: 12%;
  }

  header ul li:last-of-type {
    height: 100vh;
  }

  .hamburger-btn {
    display: block;
    background-color: var(--transparent-color);
    font-size: x-large;
    border: 0;
    cursor: pointer;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
}

@media (min-width: 1025px) and (max-width: 1200px) {
}

@media (min-width: 1201px) and (max-width: 1400px) {
}

#redword {
  color: var(--primary-color);
}

/* #region Footer */
footer {
  background-color: var(--background-color);
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
  margin-top: 0;
}

.footer-copyright {
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 15px;
  margin-top: 10px;
  text-transform: capitalize;
}

.footer-copyright p {
  margin-bottom: 0px;
}

/* Responsive styling */
@media (max-width: 768px) {
  footer {
      padding: 10px;
  }

  footer ul {
      padding: 0;
  }

  footer li {
      display: block;
      margin: 5px 0;
  }
}

@media (max-width: 480px) {
  footer {
      padding: 5px;
  }

  .footer-content {
      padding: 10px;
  }

  footer a {
      display: block;
      margin: 5px 0;
  }
}

/* #region CourseBody */

.Courseblock {
  display: flex;
  align-items: flex-start;
  gap: 1%;
}

.CourseInfo {
  overflow: auto;
  width: 20%;
}

.CourseInfo table {
  height: 100%;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: left;
}

.CourseInfo th {
  color: #000000;
  padding: 5px;
}

.CourseInfo td {
  border: 1px solid #dededf;

  color: #000000;
  padding: 5px;
}

.CourseDrop {
  margin-top: 20px;
}

.CourseDrop-content {
  display: none;
  border: 1px solid #dededf;
  padding: 10px;
}

.CourseDrop-content table {
  width: 100%;
  border-collapse: collapse;
}

.CourseDrop-content th,
.CourseDrop-content td {
  border: 1px solid #dededf;
  padding: 5px;
  text-align: left;
}

.show {
  display: block;
}

.LecNdVen {
  display: flex;
}

.SubOptInfo {
  display: inline-block;
  margin-right: 10%;
}
/* #endregion */

@media (max-height: 600px){
  header nav ul li {
    font-size:18pt;
    margin-top: 1%;
  }
}